*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}

/* navbar and elements */
#navbar{
    background-color: #3b9df863;
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

#start{
    display: flex;
    flex-direction: row;
    justify-self: left;

}

#end{
    display: flex;
    flex-direction: row;
    justify-self: right;
}


a{
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    text-decoration: none;
}

@media(max-width:600px){
    a{
        font-size:12px;
    }
}

.fas{
    display: flex;
    justify-self: left;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
}

.closed{
    background-color: grey;
    height: 100%;
    width:200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:48px;
    z-index: 1;
    margin-left: -200px;
}

.open{
    background: linear-gradient(#ff5506, #ff9900);
    height: 100%;
    width:200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:48px;
    z-index: 1;
    margin-left: 0;
}

#sidebar ul{
    text-decoration: none;
    left: 50px;
}

#sidebar ul li{
    text-decoration: none;
    left: 50px;
}





/* main-content */

#landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    /* margin: 30px 0 0 0; */
    /* left: 0; */
    z-index: 0;

}

#main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    background-color: #b6969bb6;
    margin: 5px 0 5px 0;
    padding: 20px 10px 20px 10px;
    width: 100%;

}

#image-container{
    max-width: 100%;
    width: 600px;
    height: auto;
    background-color: green;
}

#image{
    height: auto;
    max-width: 100%;
}

#text-container{
    margin: 30px 100px 30px 100px;

}