body{
    background-color: #87dce7;
}

#navbar{
    position: fixed;
    max-width: 100%;
    height: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#main-header{
    font-family: Helvetica, sans-serif;
    font-size: large;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);

}

#main-content{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image{
    height: auto;
    width: 100%;
}
