body{
    background-color: #87dce7;
}

#navbar{
    position: fixed;
    max-width: 100%;
    height: auto;
    top: 0;
}

#main-header{
    font-family: Helvetica, sans-serif;
    font-size: large;
}

#main-content{
    max-width: 100%;
    height: auto;
}

#image{
    height: 100%;
    width: 100%;
}
